*{
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

#app, body, html{
  min-width: 1000px;
	width: 100%;
	height: 100%;
	display: block;
}
.el-container{
  min-height: 100%;
}
.el-menu{
	border-right: none !important;
}
.search200  .el-input__inner{
  border-radius: 35px !important;
  width: 200px;
  padding: 0px 40px 0px 15px;
  height: 35px;
  line-height: 35px;
}

.search200 .el-input-group__append{
    background-color: #fff !important;
    border: none !important;
    position: absolute;
    right: 30px;
    top: 1px;
    height: 33px !important;
    padding: 0px;
    line-height: 33px;
    z-index: 9299;
}
.el-submenu__title, .el-menu-item{
  text-align: left !important;
}
.el-main, .el-footer{
  background-color: rgba(249, 249, 249, 1);
}
