*{
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

#app, body, html{
	width: 100%;
	height: 100%;
	display: block;
}
.el-container{
  min-height: 100%;
}
.el-menu{
	border-right: none !important;
}
.search200  .el-input__inner{
  border-radius: 35px !important;
  width: 200px;
  padding: 0px 40px 0px 15px;
  height: 35px;
  line-height: 35px;
}

.search200 .el-input-group__append{
    background-color: #fff !important;
    border: none !important;
    position: absolute;
    right: 30px;
    top: 1px;
    height: 33px !important;
    padding: 0px;
    line-height: 33px;
    z-index: 299;
}
.el-submenu__title, .el-menu-item{
  text-align: left !important;
}
.el-main, .el-footer{
  background-color: rgba(249, 249, 249, 1);
}
.ranks .el-tabs__item{
  height: 70px !important;
  line-height: 70px !important;
  color: #999;
}
.ranks .el-tabs__item.is-active{
  color: #409EFF;
}
.ranks .el-tabs{
  float: left;
  width: 100%;
  position: absolute;
  top: 0px;
}
.ranks .el-date-editor{
  margin-top: 22px;
}
.ranks .el-tabs__nav-wrap::after {
  height: 0px !important;
}
.ranks .el-date-editor--timerange.el-input__inner{
  width: 200px !important;
  float: right;
  margin-right: 15px;
  z-index: 999;
}
.ranks .el-tabs__nav-scroll {
  padding-left: 120px;
}
.f10 span, .f10{
  font-size: 10px !important;
}
.left{
  float: left;
}
.right{
  float: right;
}
.wd400{
  width: 400px;
  margin-right: 10px;
}
.mt5{
  margin-top: 5px;
}
.el-row .tit{
  font-weight: 700;
  padding-left: 15px;
  padding-top: 20px;
  height: 20px;
  line-height: 20px;
}
.mr15{
  margin-right: 15px;
}
.mt13{
  margin-top: 13px;
}
.c99{
  color: #999;
}
.fw700{
  font-weight: 700;
}
.f12 span, .f12{
  font-size: 12px !important;

}
.el-dialog{
  text-align: left;
}
.fll{
  float: left;
}
.paginations{
  display: block;
  clear:both;
  margin-bottom: 35px;
  text-align: right;
  padding-bottom: 30px;
}
.whitewraps{
  background-color:  #ffffff;
  overflow: auto;
  padding-bottom: 15px;
}
.filterwrap .el-checkbox-button__inner,
.filterwrap .el-radio-button__inner{
  border: 0px !important;
  border-radius: 0px !important;
}
.mg15{
  margin: 15px;
}
.mt15{
  margin-top: 15px;
}
.sq250{
  display: block;
  float: left;
  width: 250px;
  height: 250px;
}
.bd{
  border: 1px solid #e2e2e2;
}
.crs{
  display: block;
  clear: both;
  width: 100%;
}
.filterwrap .el-checkbox-button__inner,
.filterwrap .el-radio-button__inner {
  padding: 0px 20px !important;
  height: 25px;
  line-height: 25px;
}
body .el-table th.gutter{
  display: table-cell !important;
}
.el-table th.is-leaf {
  border-bottom: 1px solid #EBEEF5;
}
.white{
  background-color: #fff;
}
.flex4,
.flex3{
  display: flex;
}
.pd15{
  padding: 15px;
}
.minh400{
  min-height: 400px;
}
.white .bdbtm{
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
  display: block;
  clear: both;
  height: 45px;
}
.el-table th.is-leaf{
  background: rgba(228,228,228,1);
}
.pt15{
  padding-top: 15px !important;
}
.pb15{
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
}
#editmusic  .el-form-item__content .el-select{
  width: 100% !important;
}

.login_wrap .el-tabs__header {
  padding: 15px 50px 0px 50px !important;
}

.el-dialog__footer{
  display: block;
  clear: both;
}
.avatar-uploader img{
  max-width: 120px;
}
.el-upload{
  padding: 0px 30px;
}
#addMultiVersion  .el-form-item__label{
  width: 100%;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  background-color: #e2e2e2;
  margin: 10px 0px;
  padding: 0px 15px;
}
.cross{
  display: block;
  clear: both;
  line-height: 35px;
}
.el-submenu .el-menu-item {
  max-width: 160px !important;
}
.mr13{
  margin-right: 13px;
}
