
  .wdp252{
    width: calc(100% - 253px);
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
  }

  .sq250{
    border: 1px solid #e2e2e2;
  }
  .musicinfo{
    height: 251px;
    line-height: 250px;
  }
  .wdp252 .crs span:nth-child(1),
  .wdp252 .crs span:nth-child(3){
    width: 120px;

  }
  .wdp252 .crs span:nth-child(2),
  .wdp252 .crs span:nth-child(4){
    width: calc(50% - 123px);

  }
  .wdp252 .crs span{
    display: block;
    float: left;
    border-right: 1px solid #e2e2e2;
    height: 49px;
  }
  .wdp252 .crs span:nth-child(4){
    border-right: none;
  }
  .crs{
    line-height: 49px;
    height: 49px;
    position: relative;
    border-top: 1px solid #e2e2e2;
  }
  .l50{
    height: 50px;
    line-height: 50px;
  }
  #avantar{
    width: 102px;
    height: 102px;
    display: block;
    margin: 10px auto;
    border-radius: 102px;
    background-position: center center;
    background-size: 100% auto;
    box-shadow: 1px 1px 1px #ffffff;
    margin-top: 20px;
  }
.iconname{
  display: block;
  clear: both;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
}
.sq250{
  position: relative;
}
.musicdistributor  .el-row{
  display: flex;
}
.musicdistributor  .el-row span,
.musicdistributor  .el-row .el-input{
  flex: 3;
  text-align: left;
  margin: 0px 15px;
  line-height: 40px;
  height: 40px;
}
.cross{
  display: flex;
}
.flex8 span{
  flex: 8;
  border-right: 1px solid #EBEEF5;
}
.headers{
  background: rgba(228,228,228,1);
  height: 48px;
  line-height: 48px;
}
.contents span{
  line-height: 48px;
  height: 48px;

}
.contents{
  border-bottom: 1px solid #EBEEF5;
  border-left: 1px solid #EBEEF5;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100% !important;
}
#addMultiVersion .el-checkbox,
#addRelateVersion .el-checkbox{
  display: block;
  line-height: 45px;
}
#addMultiVersion .el-checkbox-group,
#addRelateVersion .el-checkbox-group{
  display: block;
  clear: both;
}

#addMultiVersion .el-tag,
#addRelateVersion .el-tag{
  display: block;
  float: left;
  clear: both;
  margin: 6px 5px;
}
