
#background{
  background-color:#28292C;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}
#contentwraps{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.w336{
  display: block;
  clear: both;
  width: 335px;
  margin: 0px auto;
}
#bg_icons {
  width: 80px;
  height: 80px;
  margin: 0px auto;
  display: block;
  background-size: 100% auto;
  margin-top: 53px;
}
.login_title {
  font-size: 20px;
  text-align: center;
  display: block;
  font-size:18px;
  font-weight:400;
  margin-top: 32px;
}
.login_wrap {
  padding: 0;
  margin: 60px auto;
  background-color: #fff;
  width: 500px;
  height: 390px;
  color: rgb(153, 153, 153);
  text-align: left;
  line-height: 20px;
}
.login_form {
  display: block;
  margin: 0px auto;
}
.w336 button{
  width: 335px;
}

.ttl40, .ttr40{
  line-height: 77px;
  height: 77px;
  min-width: 160px;

}
.ttl40{
  padding-left: 50px;
  text-align: left;
}
.ttr40{
  padding-right: 50px;
  text-align: right;
}
.lft82{
  margin-left: 82px;
  display: block;
  clear: both;
  margin-top: 20px;
}
.mgt74{
  margin-top: 74px;
}
.login_form .bdbtms:before{
    width: calc(100% - 100px);
    content: '';
    height: 1px;
    background-color: #e2e2e2;
    position: absolute;
    top: 77px;
    left: 50px;
}
.bdbtms{
  width: 100%;
  height: 77px;
  position: relative;
}
.flr  button{
  text-align: right;
  float: right !important;
  display: block;
  width: 70px;
}
.mgt40{
  margin-top: 40px;
}
